
  body {
    background-color: #180101;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .container{
      border-radius: 10px;
  }
  h1, h2, p {
    color: #f9f2f2;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  #form-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e4afaf;
    border-radius: 5px;
  }
  form{
    margin-left: 20%;
  }
  label {
    color: #555;
    font-weight: bold;
  }
  input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #e80b0b;
    border-radius: 3px;
    border-radius: 10px;
  }
  button {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #007bff;
    margin-left: 45px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #0056b3;
  }
  #message {
    color: #28a745;
    font-size: 14px;
    margin-top: -10px;
  }
  #mainContent {
    margin: 20px auto;
    max-width: 300px;
  }
  #usernameDisplay {
    font-weight: bold;
    color: #007bff;
  }
  .account{
    color: rgb(183, 19, 19);
  }
  .signup{
    color: #1100ff;
    text-decoration: none;
    cursor: pointer;
  }
  .signup:hover{
    color: #ff6200;
  }
  #signupmessage{
    color: red;
  }

  .message {
    margin: 1em 0;
    padding: 0.5em;
    font-weight: bold;
  }